.container{
	margin: 10px;
	padding: 10px;
	background: #8080;
	color: #101010;
	box-shadow: 10px 10px 10px 10px #000;
}

.list-item{
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	font-size: 15px;
	font-style: italic;
	font-weight: 400;
	font-family: cursive;
	font-variant: small-caps;
}
.list-item:hover{
	color: #00ddd0;
	box-sizing: content-box;
	margin: 20px;
	transform: scale(1.5);
}

.header{
	color: #ccccccdd;
	text-align: center;
	margin-bottom: 20px;
}
